img {
    width: auto;
    height: 200px;
}

* {
    margin: auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    margin: 20px;
    position: relative;
    bottom: 90px;
    left: 1200px;
}

a:hover {
     color: red;
}

header {
    background-color: black;
    height: 650px;
    color: whitesmoke;
}

.goat {
    width: auto;
    height: 300px;
    position: relative;
    left: 250px;
    top: 50px;
}

.goat1 {
    position: relative;
    right: 400px;
    font-size: 50px;
    bottom: 250px;
    color: red;
}

.goat2 {
    position: relative;
    bottom: 200px;
    right: 400px;
    font-size: 20px;
}

main {
    background: #303030;
    color: white;
    position: relative;
    bottom: 20px;
}


h1 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 20px;
    font-size: 45px;
    color: red;
}

.imgs img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.3s;
}

.imgs img:hover{
    transform: scale(1.1);
}

.imgs {
    position: relative;
    top:50px;
}

.p1, .p2, .p3, .p4 {
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    color: white;
}
.p1 {
    position: relative;
    right: 350px;
    top: 55px;
}

.p2 {
    position: relative;
    right: 65px;
    top: 10px;
}

.p3 {
    position: relative;
    left: 250px;
    bottom: 35px;
}

.p4 {
    position: relative;
    left: 480px;
    bottom: 80px;
}

.p5 {
    font-size:40px;
    font-style: italic;
}

.p6 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.quote {
    background-color: #202020;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    padding-top: 150px;
}

.p7 {
    font-size: 35px;
    position: relative;
    right: 180px;
    top: 70px;
    width: 500px;
}

.signup {
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 30px;
    position: relative;
    left: 140px;
    top: 25px;
    border: none;
    transition: 0.3s;
}

button:hover {
    border-radius: 10px;
    background-color: #1F2937;
    color: white;
}

footer {
    background-color: #1F2937;
    color: whitesmoke;
    
    padding: 20px;
}

::-webkit-scrollbar {
    background: #1F2937;
}

::-webkit-scrollbar-thumb {
    background-color: aliceblue;
}



